html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

#welcome-section{
    height: 100vh;
}
#navbar {
    background: pink;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
    
}
#navbar li {
    padding:5px;
    margin:10px;
    list-style: none;
}
